<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for :user, url: signup_path do |f| %>
   <%= render 'shared/error_messages' %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email%>
  </p>

  <p>
    <%= f.label :password %><br>
     <%= f.password_field :password %>
  </p>

  <p>
    <%= f.select :user_type, '<option value="1">Buyer</option><option value="2">Seller</option>'.html_safe %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth %>
  </p>

  <p>
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </p>

   <div class="clearfix">
    <%= f.button :Cancel %>
    <%= f.submit :"Sign Up" %>
  </div>

<% end %>