<h1>Welcome to Cart Application</h1>
<%if logged_in? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
 
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Add Product', new_product_path %>
  <li><%= link_to "Back", root_path %></li>
  <%else %>
    <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
 
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
      </tr>
    <% end %>
  </table>
<% end %>