<%= form_for :product, url: products_path do |f| %>
  <p>
    <%= f.label :product_name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :product_price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :product_description %><br>
    <%= f.text_area :description %>
  </p>


  <p>
    <%= f.submit %>
  </p>
  
<% end %>