<%= form_for :article do |f| %>
  <p>
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </p>
 
  <p>
    <%= f.label :product_price %><br>
    <%= f.text_field :product_price %>
  </p>

  <p>
    <%= f.label :product_description %><br>
    <%= f.text_area :product_description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>